<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.gojay.dao.RoadfareDao">

    <!--根据用户id查询用户记录-->
    <select id="getRoadfare" resultType="Roadfare" parameterType="String">
        SELECT *
        FROM roadfare WHERE start_name like #{startName}
    </select>

</mapper>